<div class="navbar bg-base-100 shadow-lg fixed top-0 z-10">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @for (route of routes; track route.path) {
          <li>
            <a [routerLink]="route.path" class="text-sm font-medium">
              {{ route.title }}
            </a>
          </li>
        }
      </ul>
    </div>
    <a class="btn btn-ghost text-xl font-bold">Pipes App</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="gap-4 menu menu-horizontal px-1">
      @for (route of routes; track route.path) {
        <li>
          <a
            [routerLink]="route.path"
            routerLinkActive="bg-primary text-primary-content"
            class="text-sm font-medium hover:bg-primary hover:text-primary-content transition-colors">
            {{ route.title.toString().replace('Pipes -', '') }}
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="navbar-end pr-4">
    <div class="flex items-center gap-3 ">
      <span class="text-sm text-accent hover:text-warning">Lenguaje actual</span>
      <span class="badge badge-info">{{ currentLang || 'es' }}</span>

      <button
        type="button"
        class="btn btn-sm btn-ghost"
        [class.btn-secondary]="currentLang === 'en'"
        [class.text-primary]="currentLang === 'en'"
        (click)="setLanguage('en')">
        English
      </button>

      <button
        type="button"
        class="btn btn-sm btn-ghost"
        [class.btn-secondary]="currentLang === 'es'"
        [class.text-primary]="currentLang === 'es'"
        (click)="setLanguage('es')">
        Español
      </button>
    </div>
  </div>
</div>
