<section class="my-8">
  <h2 class="text-3xl font-bold mb-4 text-center">Uncommon pipes in angular</h2>
</section>

<div class="flex flex-col gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
        <app-card title="i18nSelectPipe">
      <p>
        mucho gusto {{ client().name }} es un placer
        {{ client().gender | i18nSelect : invitationMap }} a nuestro evento
      </p>
      <button class="btn btn-secondary" (click)="ChangeClient()">cambiar cliente</button>
    </app-card>
    <app-card title="i18nPluralPipe">
      <p>Actuelmente {{ clients().length | i18nPlural : clientsMap() }} Por El Evento</p>
      <button
        class="btn btn-secondary"
        [disabled]="clients().length === 0"
        (click)="DeleteClient()"
      >
        Eliminar cliente
      </button>
    </app-card>
    <app-card title="SlicePipe">
      <b>Original</b>
      <p class="text-primary">
        {{clients().join(', ')}}
      </p>
      <b class="mt-2">Slice:0:2</b>
      <p class="text-primary">{{clients() | slice:0:2 }}</p>

      <b class="mt-2">Slice:3:4</b>
      <p class="text-primary">{{clients() | slice:3:4 }}</p>

      <b class="mt-2">Slice:4:5</b>
      <p class="text-primary">{{clients() | slice:4:5 }}</p>

      <b class="mt-2">Slice:0:-3</b>
      <p class="text-primary">{{clients() | slice:0:-3 }}</p>
    </app-card>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
    <app-card title="JsonPipe">
      <pre class="text-primary">{{clients() | json}}</pre>
      <pre class="text-primary">{{client() | json}}</pre>
      <p class="text-primary">{{clients().join(', ') | json}}</p>
    </app-card>

    <app-card title="KeyValuePipe">
      <!-- <pre class="text-primary">{{profile | keyvalue | json}}</pre> -->

      @for (item of profile | keyvalue; track $index) {
        <li>
          <strong class="text-primary">{{item.key | titlecase}}: </strong>
          <span >{{item.value}}</span>
        </li>

      }
    </app-card>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
    <app-card title="AsyncPipe">
      <!-- <p>{{ promiseValue | async }}</p> -->

      @if(promiseValue | async; as value){
        <p class="text-primary">{{value}}</p>
      }
      <!--  -->
      @else {
        <p class="accent">Esperando a Una Promesa ...</p>
      }
      <!--  -->

      <h3 class="text-2xl">Observable</h3>

      <p>{{myObservableTimer | async}}</p>

      @if(myObservableTimer | async; as value){
        <p class="text-primary">{{value}}</p>
      }
      <!--  -->
      @else {
        <p class="accent">Esperando un valor .....</p>
      }
    </app-card>
  </div>
</div>
